body{
    background: linear-gradient(90deg, rgba(31,110,114,1) 23%, rgba(13,163,188,1) 100%);
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.mainHeaderSection{
    text-align: center;
    background-color: #65b1b9;
}

.brand-name{
    color: #ffffff;
    background: linear-gradient(90deg, rgba(31,110,114,1) 23%, rgba(13,163,188,1) 100%);
    border-radius: 60px;
    padding: 4px 20px;
}

.jumbotron-img{
    height: 300px; 
}

.my-4{
    width: 25%;
}

.btn-primary{
    background: linear-gradient(90deg, rgba(31,110,114,1) 23%, rgba(13,163,188,1) 100%);
}

.navbar{
    background-color: #65b1b9;
}

.btn{
    border:none
}
.btn:active {
	box-shadow: none;
}
.btn:focus {
	box-shadow: none;
}

.navbar-brand img{
    border-radius: 10px;
    margin-right: 2px;
}

#products{
    padding-top: 60px;
}

#products-spinner{
    margin: 50px auto;
}

.card.product .product-header{
    display: flex;
    justify-content: space-between;
    height: 39px;
}

.card.product{
    margin: 10px 0;
}

.card.product .card-img-top{
    height: 250px;
}
.card.product .btn-outer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.card.product .btn-outer .buy-btn{
    width: 100px;
}

.card-title.product-price{
    color:#64c4d4;
    margin-left: 4px;
}

.fa-star.checked, .fa-star-half-full {
    color: orange;
}

.card-text{
    height: 72px;
}

.rating-count{
    margin-left: 5px;
}

.add-to-cart-btn, .buy-btn{
    flex: 1;
    margin: 0 0 0 5px;
}