body{
    background-image: linear-gradient(to left bottom, #c3c4c6, #babfc3, #b0babe, #a6b6b8, #9db1b0);
}

/**************** Heading Section *****************/
.mainHeading{
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
    letter-spacing: 3px;
    background-image: radial-gradient(circle, #a0b5d3, #799add, #637ae1, #6554db, #790bc9);
}

/**************** Container Section *****************/
.container{
    text-align: center;
}

/**************** Input Section *****************/
.orderIdInput{
    margin: 10px auto;
    text-align: center;
    width: 30vw;
    border-color: #799add;
}

/**************** ExecuteBtn Section *****************/
#executeBtn{
    margin-bottom: 10px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    background-image: radial-gradient(circle, #a0b5d3, #799add, #637ae1, #6554db, #790bc9);
    color: #05f7cb;
    font-size: 1.45em;
    border-radius: 8px;
    width: 280px;
    cursor: pointer;
    border-style: none;
    
}

/**************** Main Section *****************/
.outerBlock{
    margin-bottom: 15px;
    border-radius:20px;
    border: none;
}

.card-header{
    font-family: monospace;
    letter-spacing: 1px;
    background: rgb(185, 181, 181);
    border-radius: 20px 20px 0 0 !important;
}

.card-title{
    font-weight: bold;
    color: #790bc9;
}

.card-text{
    color: #230cd5a6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}

.card-span{
    color: rgb(8, 232, 42);
    font-weight: bold;
}

/**************** CancelBtn Section *****************/
.footerBtn{
    border-radius: 0 0 20px 20px;
}

/**************** Image Section *****************/
#emptyImgId{
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius:100%;
}