.container{
    text-align: center;
}
#heading{
    padding: 5px;
    letter-spacing: 3px;
    margin: 5px;
}
#orderHeading{
    padding: 3px;
    letter-spacing: 3px;
    margin: 5px 0;
}
#orderId{
    padding: 10px 15px;
    margin: 10px auto;
    width: 40vw;
    font-size: 1.3em;
    font-weight: bold;
}

#executeBtn{
    padding: 10px;
    margin: 5px 0px 10px 0px;
    background: #9630f0;
    color: #05f7cb;
    font-size: 1.45em;
    border-radius: 8px;
    width: 280px;
    cursor: pointer;
}

#statusBlock{
    font-size: 1.2em;
    font-weight: bold;
}

.orderStatus{
    border: 1.5px solid black;
    width: 40vw;
    margin: 6.5px auto;
    padding: 10px;
    background: rgba(181, 174, 174, 0.738);
    border-radius:5px;
    color: #dae6de;
}
